.op1image {
    position: relative; 
    height: 100%;
    width: 100%;
   
}

.op1image::before {    
      content: "";
      background-image: url("pa.jpg");

      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.5;
}

.zap{
	position: relative;
}

.zapbg{
	background-color: rgb(236, 228, 203);
}

.Headerz{
	 position: relative;
	width:100%;
	height:50%;
	font-family: 'Nerko One', cursive;
	font-size: 10vw;
	display: flex;
	align-items: center;
	justify-content: center;
	/*padding-left:  50px;*/
}